body {
    font-family: 'Share Tech', sans-serif;
    color: #1B4D3E;;
    width: 100vw;
    height: 100vh;
    align-items: center;
    margin: 0;
}

nav {
    text-shadow: 8px 8px 10px #0000008c;
    background-color: #1B4D3E;
    margin-bottom: 30px;
    padding: 10px;
}

nav div {
    padding-left: 10px;
    padding-right: 10px;
}