<nav class="navbar navbar-dark d-flex justify-content-center">
    <p class="navbar-brand h3">To Do List</p>
</nav>




<div class="container" style="margin-bottom: 30px;">
    <div class="row d-flex justify-content-center">
        
        <div class="col d-flex justify-content-center" style="margin-bottom: 10px;">  
            <label class="h4">Create new list
                <button type="button" class="btn btn-primary btn-circle btn-sm" style="margin-left: 10px;" (click)="toggleCollapseOnClick()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg>
                </button>
            </label> 
        </div> 

        <div id="navbarToggleExternalContent" [class]= "toggleCollapse">
            <div class="p-2 row rounded d-flex justify-content-center">
                
                
                <div class="col">
                    <label class="p4" style="color: #1B4D3E; padding: 10px;">List name</label>
                </div>
                <div class="col">
                    <input class="form-control" type="text" [(ngModel)]="listName" maxlength="20">
                </div>
        
                <div class="col">
                    <button class="btn btn-success" style="margin-left: 5px;" (click)="submitList()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
                          <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                        </svg>
                    </button>
                </div>

                <div class="w-100"></div>

                <div *ngIf="nameError" class="d-flex justify-content-center text-danger">List name cannot be empty!</div>
                <div *ngIf="listPresent" class="d-flex justify-content-center text-danger">List with same name already exists!</div>
                
            
            </div>

        </div>
    </div>
</div>


<div class="container" style="padding: 20px;">
    <div *ngFor="let al of allLists" class="row d-flex justify-content-center">

    <div class="col-3 card text-white bg-success list" routerLink="list/{{al}}">
        <div class="card-body d-flex justify-content-center">
          <h5 class="card-title">{{al}}</h5>
        </div>
    </div>

    </div>
</div>
